*{
    margin: 0;
    padding: 0;
    font-family: "Acumin Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    
}
body{
    background-color: #141A12;
    
    
}

/*Inicio de header*/
header{
    display: flex;
    justify-content: space-around;
    padding: 30px 0;
    font-weight: 900;
}
a{
    text-decoration: none;
    margin: 0 5px;
    color: #BFE6AD;
    font-size: 10px;
    transition: 1.5s;
}
.redes-sociales{
    display: flex;
}
.contenedor-redes{
    display: flex;
    transition: 1.5s;
    height: 25%;
}
.contenedor-redes a{
    color: #F8FAF9;
}
.contenedor-redes svg{
    width: 15px;
    height: 12px;
    color: #F9F4DA;
    margin: 0 5px;
}
.contenedor-redes:hover,a:hover, .contenedor-redes svg:hover{
    background-color: #BEE5AC;
    color: #141A12;
}
.nombre{
    display: flex;
    color: #BFE6AD;
    width: 130px;
    height: 50px;
}
.nombre-texto{
    width: 50%;
    font-size: 10px;
}
.nombre-imagen{
    height: 20px;
    width: 50%;
    background-color: #BFE6AD;
    margin: 5px;
    border-top-right-radius: 25%;
    border-bottom-right-radius: 25%;
}
/*Final de header*/
/*Inicio de hero*/
.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 900;
}

h1{
    font-weight: 900;
}
/*Tituo del hero*/
.titulo{
    margin: 30px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
}
.titulo-profesion{
    color: #F9F4DA;
    margin: 5px;
    font-size: 45px;
    display: flex;
    text-align: center;
    justify-content: center;
}
.titulo-relleno{
    background-color: #BFE6AD;
    width: 15px;
    height: 60px;
}


.nombre-titulo{
    padding-left: 30px;
    width: 15px;
    height: 10px;
    font-size: 10px;
}

/*Cuadro principal*/
.seccion-principal{
    width: 75%;
    height: 50vh;
    background-color: #BFE6AD;
    display: flex;
    margin: 30px;
}

/*Cuadro redes*/
.seccion-principal-redes{
    width: 30%;
    display: flex;
    flex-direction: column;
}

.seccion-principal-redes-titulo{
    margin: 10px;
    color: #141A12;
    height: 50%;
    font-size: 27px;
    letter-spacing: 0;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-left: 20px;
}
.seccion-principal-redes-paginas{
    height: 50%;
    text-align: end;
    color: #141A12;
    display: flex;
    padding: 0;
    font-size: 11px;
    letter-spacing: 0;
}
.seccion-principal-redes-paginas-nombres{
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
}
.redes{
    display: flex;
    margin: 15px 5px;
}
.redes p{
    margin-right: 5px;
}
.seccion-principal-redes-paginas-iconos{
    width: 25%;
    height: 100%;
    background-color: #141A12;
    border-top-left-radius: 45px;
    border-top-right-radius: 20px; 
    border-bottom-left-radius: 25px;   
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
}
.iconos-redes{
    background-color: white;
    height: 30px;
    width: 30px;
    margin: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*Cuadro de lenguajes seccion principal*/
.seccion-principal-lenguajes{
    flex-grow: 2;
    background-color: #262626;
    display: flex;
    flex-direction: column;
    justify-content: end;
    letter-spacing: 0;

}
.items1{
    text-align: left;
    color: #BEBBA8;
    font-size: 20px;
    padding: 10px;
    
}

.items1-texto{
    margin: 5px 0;
    font-weight: 1000;
}
.items1 p{
    font-size: 12px;
    margin-top: 30px;
}
.texto{
    background-color: #F9F4DA;
    height: 10%;
    text-align: center;
    display: flex;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
    color: #181B15;
}
.texto-central{
    display: flex;
    font-size: 12px;
}
.y-mas{
    display: flex;
    width: 50%;
}
.linea-horizontal-hero{
    position: relative;
    top: 40px;
    height: 2px;
    background-color: #a0cfa0;
    flex-grow: 1;
    margin-left: 10px;
}
.linea-vertical-hero{
    position: relative;
    top: 40px;
    left: 290px;
    height: 20px;
    background-color: #a0cfa0;
    margin-left: 10px;
    width: 2px;
}
.texto-central p{
    margin: 0 7px;
}

/*Final de hero*/
/*Inicio de sobre mi*/
.sobre-mi{
    display: flex;
    justify-content: center;
    align-items: center;
}
.seccion-sobre-mi{
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #F8FAF9;
    width: 85%;
}
/*Titulo*/
.sobre-mi-titulo{
    display: flex;
    align-items: center;
    margin: 60px;
    width: 75%;
}
.sobre-mi-informacion-titulo-texto{
    margin-right: 10px;
}
.sobre-mi-titulo p{
    font-size: 10px;
}
.lineas{
    position: relative;
    top: 65px;
    left: 10px;
    display: flex;
    flex-direction: column;
}
.linea-horizontal{
    height: 2px;
    background-color: #a0cfa0;
    flex-grow: 1;
    margin-left: 10px;
    width: 52vw;   
}
.lineas-v{
    display: flex;
}
.linea-vertical1{
    position: relative;
    left: 710px;
    height: 120px;
    background-color: #a0cfa0;
    margin-left: 10px;
    width: 2px;  
}
.linea-vertical2{
    position: relative;
    left: 200px;
    height: 120px;
    background-color: #a0cfa0;
    margin-left: 10px;
    width: 2px; 
    
}

/*Informacion de experiencia y de mas*/
.sobre-mi-informacion{
    display: flex;
}
.sobre-mi-informacion-titulo{
    display: flex;
    margin: 5px;
}
.llaves{
    color: #2B6D26;
    font-size: 20px;
    margin: 0 5px;
}
.sobre-mi-informacion-fullstack{
    width: 45%;
    padding-left: 15px;
    margin-bottom: 25px;

}
.sobre-mi-informacion-mi-experiencia{
    width: 45%;
    padding-right: 15px;
    margin-bottom: 25px;
}
/*Final seccion sobre mi*/
/*Inicio seccion de habilidades*/
.habilidades{
    height: 100vh;
}
.seccion-lenguajes{
    background-color: #262626;
    display: flex;
    align-items: end;
    justify-content: center;
    height: 25%;
    color: 91ac84;
}
.nombre-seccion{
    width: 33%;
    display: flex;
}
.lenguajes{
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icono-lenguaje,.color-lenguajes{
    fill: #91AC84;
    color: #91AC84;
}
.icono-front,.color-front{
    fill: #54604F;
    color: #54604F;
}
.icono-back,.color-back{
    fill: #7B946F;
    color: #7B946F;
}
.icono-bd,.color-bd{
    fill: #3A4437;
    color: #3A4437;

}
.seccion-media-habilidades{
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
}

.numero-de-seccion{
    width: 33%;
    text-align: end;
}

.front{
    background-color: #BFE6AD;
    display: flex;
    justify-content: space-between;
    align-items: end;
    height: 25%;
}
.back{
    background-color: #1F211E;
    display: flex;
    justify-content: space-between;
    align-items: end;
    height: 25%;
}
.data-base{
    background-color: #7B946F;
    display: flex;
    justify-content: space-between;
    align-items: end;
    height: 25%;
}
.icono{
    width: 70px;
    height: 70px;
    transition: 1.5s;
}
.icono:hover{
    width: 90px;
    height: 90px;
    cursor: pointer;
}
/*Fin seccion lenguajes*/
.mira-proyectos{
    background-color: #262626;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
    margin-bottom: 15px;
    padding: 10px;
    color: #BFE6AD;
}


/*Inicio de seccion trabajos*/
.seccion-trabajos{
    display: flex;
    justify-content: center;
    align-items: center;
}
.trabajos{
    height: 110vh;
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.titulo-trabajos{
    height: 15%;
    display: flex;
    text-align: start;
    flex-direction: column;
    width: 80%;
    color: #FAFBFA;
    margin-top: 50px;
    font-size: 20px;
}
.titulo-trabajos p{
    font-size: 12px;
}
.imagen-trabajos{
    width: 520px;
    height: 230px;
    margin: 15px 5px;
    cursor: pointer;
    transition:1.5s;
}
.imagen-trabajos:hover{
    width: 540px;
    height: 250px;
}
footer{
    background-color: #262626;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    margin-top: 50px;
    height: 25vh;
}
