*{
    margin: 0;
    padding: 0;
    font-family: "Acumin Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body{
    background-color: #141A12;
    
    
}
a{
    text-decoration: none;
    margin: 0 5px;
    color: #BFE6AD;
}
/*Inicio de header*/
header{
    display: flex;
    justify-content: space-around;
    padding: 30px 0;
}
/*Final de header*/
/*Inicio de hero*/
.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nombre{
    display: flex;
    color: #BFE6AD;
}

/*Tituo del hero*/
.titulo{
    margin: 30px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.titulo-profesion{
    color: #F9F4DA;
    margin: 5px;
    font-size: 35px;
    display: flex;
    text-align: center;
    justify-content: center;
}
.titulo-relleno{
    background-color: #BFE6AD;
    width: 20px;
    height: 50px;
}


.nombre-titulo{
    padding-left: 30px;
    width: 15px;
    height: 10px;
    font-size: 10px;
}

/*Cuadro principal*/
.seccion-principal{
    width: 75%;
    height: 40vh;
    background-color: #BFE6AD;
    display: flex;
    margin: 30px;
}

/*Cuadro redes*/
.seccion-principal-redes{
    width: 30%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.seccion-principal-redes-titulo{
    margin: 10px;
    color: #141A12;
}
.seccion-principal-redes-paginas{
    flex-grow: 1;
    text-align: end;
    color: #141A12;
}

/*Cuadro de lenguajes seccion principal*/
.seccion-principal-lenguajes{
    flex-grow: 2;
    background-color: #262626;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.items1{
    text-align: left;
    color: #BEBBA8;
}
.texto{
    background-color: antiquewhite;
    height: 20%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #181B15;
}

/*Final de hero*/
/*Inicio de sobre mi*/
.sobre-mi{
    display: flex;
    justify-content: center;
    align-items: center;
}
.seccion-sobre-mi{
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #F8FAF9;
    width: 80%;
}
/*Titulo*/
.sobre-mi-titulo{
    margin: 60px;
    display: flex;
}
.lineas{
    background-color: #BEBBA8;
    width: 70%;
    height: 5%;
}
.linea-vertical{
    width: 70%;
    height: 5%;
}

/*Informacion de experiencia y de mas*/
.sobre-mi-informacion{
    display: flex;
}
.sobre-mi-informacion-titulo{
    display: flex;
    margin: 5px;
}
.llaves{
    color: #2B6D26;
}
.sobre-mi-informacion-fullstack{
    width: 45%;
    padding-left: 15px;
    margin-bottom: 25px;

}
.sobre-mi-informacion-mi-experiencia{
    width: 45%;
    padding-right: 15px;
    margin-bottom: 25px;
}
/*Final seccion sobre mi*/
/*Inicio seccion de habilidades*/
.habilidades{
    height: 100vh;
}
.seccion-lenguajes{
    background-color: #262626;
    display: flex;
    align-items: end;
    justify-content: center;
    height: 25%;
}
.nombre-seccion{
    width: 33%;
    display: flex;
}
.lenguajes{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.numero-de-seccion{
    width: 33%;
    text-align: end;
}

.front{
    background-color: #BFE6AD;
    display: flex;
    justify-content: space-between;
    align-items: end;
    height: 25%;
}
.librerias-front{
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.back{
    background-color: #1F211E;
    display: flex;
    justify-content: space-between;
    align-items: end;
    height: 25%;
}
.data-base{
    background-color: #7B946F;
    display: flex;
    justify-content: space-between;
    align-items: end;
    height: 25%;
}
/*Fin seccion lenguajes*/
.mira-proyectos{
    background-color: #262626;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12vh;
    margin-bottom: 15px;
}

/*Inicio de seccion trabajos*/
.seccion-trabajos{
    display: flex;
    justify-content: center;
    align-items: center;
}
.trabajos{
    height: 100vh;
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.titulo-trabajos{
    height: 15%;
    display: flex;
    text-align: start;
    flex-direction: column;
    width: 100%;
}
.imagen-trabajos{
    width: 520px;
    height: 230px;
    margin: 15px 5px;
}

footer{
    background-color: #262626;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    margin-top: 50px;
    height: 25vh;
}
